<ion-header>
  <ion-navbar>
    <ion-title class="book-div" *ngIf="dataInfo">
      {{title}}
      <div class="clearfix"></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="dataInfo-detail" *ngIf="dataInfo">

    <div class="custom-tabs">
      <a *ngFor="let tab of tabs | keys" (click)="changeTab(tab.key)" class="tab-item {{activated[tab.key]}}">
        {{tab.value}}
      </a>
    </div>

    <div *ngIf="tabID == 'about'" class="custom-tabs-content dataInfo-about">
      <h4 class="b-box-title iti-title">{{dataInfo.Ngay}}</h4>
      <div class="b-box-content iti-content">
        <div class="iti-des">
          Phòng học: {{dataInfo.Phonghoc}}
        </div>
        <div class="iti-start">
          Tiết bắt đầu: {{dataInfo.TietBatDau}}
        </div>
        <div class="iti-end">
          Tiết kết thúc: {{dataInfo.TietKetThuc}}
        </div>
      </div>


      <div class="import-dsdd" *ngIf="dataInfo.DaDiemDanh == false">
        <h4>Import DS điểm danh</h4>
        <input type="file" (change)="onFileChange($event)" multiple="false" />
        <button ion-button color="primary" (click)="import()">Import</button>
        <!--<button ion-button color="secondary" (click)="export()">Export Data</button>-->
        <h5>Preview</h5>
        <ion-grid>
          <ion-row *ngFor="let row of data">
            <ion-col *ngFor="let val of row">
              {{val}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>

    <!--<div *ngIf="tabID == 'sinhvien'" class="custom-tabs-content dataInfo-sinhvien">
      <ion-list class="sv-list" *ngIf="CTDD.length > 0">
        <button ion-item *ngFor="let sv of lopInfo.sinhvien; let k = index" class="sv-one status_{{CTDD[k]['TrangThai']}}" (swipe)="swipeEvent($event, k, sv)">
          <h4 class="m-box-title sv-title">
            {{sv.HoTen}}
            <span class="sv-masv">{{sv.MaSV}}</span>
          </h4>
          <div class="sv-ngaysinh">{{sv.NgaySinh}}</div>
          <div class="sv-stt">
            {{CTDD[k]['TrangThai']}}
          </div>
          <div class="sv-note" *ngIf="CTDD[k]['GhiChu']">
            <b>Note*:</b> <i>{{CTDD[k]['GhiChu']}}</i>
          </div>
        </button>
      </ion-list>

      <div class="save-diemdanh" *ngIf="CTDD.length > 0 && dataInfo.DaDiemDanh == false">
        <button ion-button (click)="saveDiemDanh()" type="submit">Save</button>
      </div>
    </div>-->

    <ion-list class="custom-tabs-content dataInfo-sinhvien sv-list" #oneDataList *ngIf="tabID == 'sinhvien'">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-item-sliding class="sv-one status_{{CTDD[k]['TrangThai']}}" [hidden]="CTDD.length <= 0"
        *ngFor="let sv of lopInfo.sinhvien; let k = index">

        <button ion-item (swipe)="swipeEvent($event, k, sv)">
          <h4 class="m-box-title sv-title">
            {{sv.HoTen}}
            <span class="sv-masv">{{sv.MaSV}}</span>
          </h4>
          <div class="sv-ngaysinh">{{sv.NgaySinh}}</div>
          <div class="sv-stt">
            {{CTDD[k]['TrangThai']}}
          </div>
          <div class="sv-note" *ngIf="CTDD[k]['GhiChu']">
            <b>Note*:</b> <i>{{CTDD[k]['GhiChu']}}</i>
          </div>
        </button>

        <!--<ion-item-options>
          <button ion-button color="warning" (click)="DiemDanh(k, sv, -1)">
            Vắng phép
          </button>
          <button ion-button color="danger" (click)="DiemDanh(k, sv, -2)">
            Vắng không phép
          </button>
        </ion-item-options>-->
      </ion-item-sliding>
    </ion-list>

    <div class="save-diemdanh" *ngIf="tabID == 'sinhvien' && CTDD.length > 0 && dataInfo.DaDiemDanh == false">
      <button ion-button (click)="saveDiemDanh()" type="submit">Save</button>
    </div>


  </div>
</ion-content>
