<ion-header>
  <ion-navbar>
    <ion-title class="book-div" *ngIf="dataInfo">
      {{title}}
      <div class="clearfix"></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="dataInfo-detail" *ngIf="dataInfo">

    <ion-list class="custom-tabs-content dataInfo-sinhvien sv-list dadiemdanh_{{dataInfo.DaDiemDanh}}" #oneDataList
      *ngIf="dataInfo.DaDiemDanh == true && CTDD.length > 0 && lopInfo.sinhvien">
      <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
      <ion-item-sliding *ngFor="let sv of lopInfo.sinhvien; let k = index" class="sv-one status_{{CTDD[k]['TrangThai']}}">
        <button ion-item>
          <h4 class="m-box-title sv-title">
            {{sv.HoTen}}
            <span class="sv-masv">{{sv.MaSV}}</span>
          </h4>
          <div class="sv-ngaysinh">{{sv.NgaySinh}}</div>
          <div class="sv-stt">
            {{CTDD[k]['TrangThai']}}
          </div>
          <div class="sv-note" *ngIf="CTDD[k]['GhiChu']">
            <b>Note*:</b> <i>{{CTDD[k]['GhiChu']}}</i>
          </div>
          <div class="sv-note" *ngIf="CTDD[k]['TrangThai'] == 1">
            <i>Có mặt</i>
          </div>
        </button>
      </ion-item-sliding>
    </ion-list>



    <ion-list class="custom-tabs-content dataInfo-sinhvien sv-list dadiemdanh_{{dataInfo.DaDiemDanh}}" #oneDataList
      *ngIf="dataInfo.DaDiemDanh == false && CTDD && lopInfo.sinhvien">
      <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
      <ion-item-sliding [hidden]="CTDD.length <= 0" *ngFor="let sv of lopInfo.sinhvien; let k = index"
        class="sv-one status_{{CTDD[k]['TrangThai']}}">

        <button ion-item (swipe)="swipeEvent($event, k, sv)">
          <h4 class="m-box-title sv-title">
            {{sv.HoTen}}
            <span class="sv-masv">{{sv.MaSV}}</span>
          </h4>
          <div class="sv-ngaysinh">{{sv.NgaySinh}}</div>
          <div class="sv-stt">
            {{CTDD[k]['TrangThai']}}
          </div>
          <div class="sv-note" *ngIf="CTDD[k]['GhiChu']">
            <b>Note*:</b> <i>{{CTDD[k]['GhiChu']}}</i>
          </div>
          <div class="sv-note" *ngIf="CTDD[k]['TrangThai'] == 1">
            <i>Có mặt</i>
          </div>
        </button>

        <!--<ion-item-options>
          <button ion-button color="warning" (click)="DiemDanh(k, sv, -1)">
            Vắng phép
          </button>
          <button ion-button color="danger" (click)="DiemDanh(k, sv, -2)">
            Vắng không phép
          </button>
        </ion-item-options>-->
      </ion-item-sliding>
    </ion-list>

    <div class="save-diemdanh" *ngIf="CTDD.length > 0 && dataInfo.DaDiemDanh == false">
      <button ion-button (click)="saveDiemDanh()" type="submit">Save</button>
    </div>


  </div>
</ion-content>
