<ion-header>
  <ion-navbar>
    <ion-title class="book-div" *ngIf="dataInfo">
      {{title}}
      <div class="clearfix"></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="dataInfo-detail" *ngIf="dataInfo">
    <!--<div class="dataInfo-basic-info">
      <h1>{{dataInfo.title}}</h1>
    </div>-->

    <div class="custom-tabs">
      <a *ngFor="let tab of tabs | keys" (click)="changeTab(tab.key)" class="tab-item {{activated[tab.key]}}">
        {{tab.value}}
      </a>
    </div>


    <div *ngIf="tabID == 'lichhoc'" class="custom-tabs-content dataInfo-lichhoc">
      <ion-refresher (ionRefresh)="refresh_lichhoc($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ul>
        <li *ngFor="let itn of dataInfo.lichhoc; let k = index" (click)="ItiDetail(itn)" id="{{itn.MaLichHoc}}"
          class="b-box dadiemdanh_{{itn.DaDiemDanh}}">
          <h4 class="b-box-title iti-title">{{itn.Ngay}}</h4>
          <div class="b-box-content iti-content">
            <div class="iti-des" *ngIf="itn.DaDiemDanh == true">
              {{itn['tongvang']}} / {{dataInfo['sv_total']}} vắng ({{itn['vp']}} có phép, {{itn['vkp']}}
              không phép)
            </div>
            <div class="iti-des" *ngIf="itn.DaDiemDanh == false">
              Chưa điểm danh
            </div>
          </div>
        </li>
      </ul>
    </div>

    <ion-fab bottom right #fab *ngIf="tabID == 'sinhvien' && dataInfo.sinhvien.length <= 0">
      <input type="file" (change)="onFileChange($event)" multiple="false" />
      <!--<button ion-fab (click)="AddDSDD()">
        <ion-icon name="plus"></ion-icon>
      </button>-->
    </ion-fab>

    <div *ngIf="tabID == 'sinhvien'" class="custom-tabs-content dataInfo-sinhvien">
      <!--<ion-refresher (ionRefresh)="refresh_dssv($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->
      <ol class="sv-list" *ngIf="dataInfo.sinhvien.length > 0">
        <li class="m-box" *ngFor="let sv of dataInfo.sinhvien">
          <h4 class="m-box-title sv-title">
            {{sv.HoTen}}
            <span class="sv-masv">{{sv.MaSV}}</span>
          </h4>
          <div class="sv-ngaysinh">{{sv.NgaySinh}}</div>
        </li>
      </ol>
    </div>

    <div *ngIf="tabID == 'thongke'" class="custom-tabs-content dataInfo-thongke">
      <ion-grid class="stat" *ngIf="dataInfo.sinhvien.length > 0">

        <!-- title -->
        <ion-row>
          <ion-col></ion-col>
          <ion-col *ngFor="let itn of dataInfo.lichhoc">
            <div>
              {{itn.Ngay.split('/')[0]}}/{{itn.Ngay.split('/')[1]}}
            </div>
          </ion-col>
        </ion-row>
        <!-- số tiết -->
        <ion-row *ngFor="let sv of dataInfo.sinhvien">
          <ion-col>{{sv.HoTen}}</ion-col>
          <ion-col class="ctdd" *ngFor="let itn of dataInfo.lichhoc">
              <div *ngIf="dataInfo.stat[sv.MaSV][itn.MaLichHoc]" class="stt_{{dataInfo.stat[sv.MaSV][itn.MaLichHoc]['TrangThai']}}">{{dataInfo.stat[sv.MaSV][itn.MaLichHoc]['TrangThai']}}</div>
              <div *ngIf="!dataInfo.stat[sv.MaSV][itn.MaLichHoc]" class="stt_0">0</div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


  </div>
</ion-content>
